# ignore any intermediary compilation artifacts
*.o

# ignore any final outputs, such as .exe
*.exe

# ignore anything in the bin/
bin/

# for us VS users, ignore .vs/
.vs/
.vscode/
.settings/

# OSX users
**/.DS_Store
.cproject
.project
